<div class="stepsdemo-content">
  <p-card>
    <ng-template pTemplate="title">Content</ng-template>
    <ng-template pTemplate="subtitle">Upload your package</ng-template>

    <p-toast></p-toast>
    <p-fileUpload
        #fileUpload
        name="releases[]"
        [multiple]="true"
        accept=""
        [maxFileSize]="1000000"
        [showUploadButton]="false"
        (onSelect)="onUpload($event)"
    >
<!--      <ng-template pTemplate="content">-->
<!--        <ul *ngIf="releases.length">-->
<!--          <li *ngFor="let file of releases">{{ file.name }} - {{ file.size }} bytes</li>-->
<!--        </ul>-->
<!--      </ng-template>-->
    </p-fileUpload>

    <ng-template pTemplate="footer">
      <div class="grid grid-nogutter justify-content-between">
        <p-button label="Complete" (onClick)="complete()" icon="pi pi-angle-right" styleClass="p-button-success" iconPos="right"></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
