
<div class="body">
<mc-loading class="loader" *ngIf="isLoading$ | async"></mc-loading>
<mc-error-message class="error" *ngIf="error$ | async" [message]="'Error'"></mc-error-message>


<div *ngIf="feed$ | async">
  <div *ngFor="let product of (feed$ | async)?.articles">
<!--має бути  <div *ngFor="let product of (feed$ | async)?.products">-->
    <div class="product">
      <img src="https://assetstorev1-prd-cdn.unity3d.com/key-image/0dbc76eb-d3fe-460a-9862-4fecde21cbd8.webp" alt="Title">

      <p class="seller">Seller</p>
      <p class="title">{{product.title}}</p>
      <p class="rating">5 ({{product.favoritesCount}}) | 💜 ({{product.favoritesCount}})</p>
      <p class="price">$199.99</p>
      <button class="add-to-cart">Add to Cart</button>
    </div>
    <p></p>
  </div>


  <!--має бути  [total]="(feed$ | async)!.productsCount"-->
  <mc-pagination
    [total]="(feed$ | async)!.articlesCount"
    [limit]="limit"
    [url]="baseUrl"
    [currentPage]="currentPage"
  ></mc-pagination>

</div>
</div>
