<mc-loading class="loader" *ngIf="isLoading$ | async"></mc-loading>
<mc-error-message class="error" *ngIf="error$ | async" [message]="'Error'"></mc-error-message>


<div *ngIf="!(isLoading$ | async)">
    <ng-container *ngFor="let software of softwareOptions$ | async">
        <div
                class="card"
                [style.background-color]="isSelected(software) ? 'rgba(178, 46, 191, 0.66)' : '#333'"
                (click)="selectSoftware(software)"
        >
            <div class="card-content">
                <img [src]="software.iconUrl" alt="{{ software.name }} Icon" style="width: 100px" />
                <div>{{ software.name }}</div>
            </div>
        </div>
    </ng-container>
</div>
