:root {
  --color-dark: #1E1E1E;
  --color-light: #FFFFFF;
  --color-gray: #B3B3B3;
  --color-accent: #AA7EDF;
}

.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.container{
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1300px;
  margin: 0 auto;
}


.pagination{
  right: 50%;
}
