<div class="top">
    <span class="numberResults">
        {{firstProductIndex + 1}}-{{lastProductIndex}} of {{totalProducts}} results
    </span>

    <span class="selectSorting">
              Sort by
              <p-dropdown [options]="sortOptions"
                          [(ngModel)]="sortKey"
                          placeholder="Price High to Low"
                          (onChange)="onSortChange($event)">
              </p-dropdown>
    </span>


    <span class="selectLimitProducts">
              View Results
              <p-dropdown [options]="limits"
                          [(ngModel)]="limitProducts"
                          placeholder="{{limitProducts}}"
                          (onChange)="sortDropdownChange($event)">
              </p-dropdown>
    </span>


</div>
