<div class="stepsdemo-content">
  <p-card>
    <ng-template pTemplate="title">Media</ng-template>
    <ng-template pTemplate="subtitle">Upload pictures and videos that will be seen</ng-template>

    <div class="card flex justify-content-center">
      <p-toast></p-toast>
      <p-fileUpload
        #fileUpload
        name="pictures[]"
        [multiple]="true"
        accept="image/*,video/*"
        [maxFileSize]="1000000000"
        [fileLimit]="6"
        [showUploadButton]="false"
        (onSelect)="onUpload($event)">
<!--        <ng-template pTemplate="content">-->
<!--          <ul *ngIf="uploadedPictures.length">-->
<!--            <li *ngFor="let file of uploadedPictures">{{ file.name }} - {{ file.size }} bytes</li>-->
<!--          </ul>-->
<!--        </ng-template>-->
      </p-fileUpload>
    </div>

    <ng-template pTemplate="footer">
      <div class="grid grid-nogutter justify-content-between">
        <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
